* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* FLEXBOX TECHNOLOGY */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  background-color: teal;
  align-items: center;
  align-content: center;
}

main {
  flex-grow: 1;
  background-color: aqua;
}

footer {
  height: 150px;
  background-color: palevioletred;
}



















/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

